---
import Button from '../components/Button.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="BuzzCrafters">
	<main>
		<section class="bg-surface-primary">
			<Navbar/>
		</section>

		<section>
			Iam some other section
		</section>
	</main>
</Layout>

