---
import { cva } from "class-variance-authority";
const button = cva(
  [
    "font-medium rounded-full transition-all  px-4 py-2 text-text-primary text-sm ",
  ],
  {
    variants: {
      intent: {
        primary: "bg-accent-primary",
        secondary: "border-2 border-accent-secondary",
        tertiary: "bg-surface-primary",
      },
      size: {
        small: "",
        medium: "",
      },
    },
    compoundVariants: [
      {
        intent: "primary",
        size: "small",
        class: "",
      },
    ],
    defaultVariants: {
      intent: "primary",
      size: "small",
    },
  }
);

const { intent, size } = Astro.props;
---

<button class={button({ intent, size })}>
  <slot />
</button>
