---
const { title, description,icon } = Astro.props;
---

<div class="rounded-lg group transition-all hover:bg-black  bg-surface-tertiary flex flex-col p-4 space-y-3 ">
  <iconify-icon
    width="50"
    icon={icon}
    class="group-hover:text-accent-primary transition-colors"></iconify-icon>

  <span class="font-semibold capitalize group-hover:text-text-primary">
    {title}

  </span>
  <p class="text-accent-secondary group-hover:text-text-primary ">
    {description}
  </p>
</div>
