---
const { title, description, stats } = Astro.props;
---

<div
  class="rounded-2xl group transition-all hover:bg-black bg-surface-tertiary flex flex-col pl-6 pr-20 py-8 space-y-3"
>
  <div class="flex flex-col">
    <span class="font-bold text-5xl capitalize group-hover:text-text-primary">
      {stats}+
    </span>

    <span class="font-semibold capitalize text-2xl group-hover:text-text-primary">
      {title}
    </span>
  </div>
  <p class="text-accent-secondary group-hover:text-text-primary">
    {description}
  </p>
</div>
